<launch>
  <!--arg name="navigation_map" default="$(find iai_maps)/maps/dm_karlsruhe_20190331.yaml" /-->
<arg name="navigation_map" default="$(find iai_refills_lab)/maps/refills_lab.yaml" />  
<arg name="with_aggregator" default="False" />

  <param name="/use_sim_time" value="false"/>

  <include file="$(find iai_donbot_bringup)/launch/bringup_base.launch" >
    <arg name="navigation_map" value="$(arg navigation_map)" />
  </include>

  <include file="$(find iai_donbot_bringup)/launch/bringup_ur5.launch"/>
  <include file="$(find iai_donbot_bringup)/launch/bringup_cameras.launch"/>
  <include file="$(find iai_donbot_bringup)/launch/bringup_gripper.launch"/>

  <include file="$(find iai_donbot_bringup)/launch/aggregator.launch" if="$(arg with_aggregator)" />

</launch>
