<launch>
    <node name="refills_wrist_camera"  pkg="camera_aravis" type="camnode" args="FLIR-0113E2E0" output="screen"> 
      <remap from="/camera" to="/refills_wrist_camera"/> 
      <param name="AcquisitionFrameRate" type="double" value="10.0" />
      <param name="Gain" type="double" value="31.0" />
      <param name="ExposureTime" type="double" value="2000.0" />
      <param name="ExposureAuto" type="string" value="off" />
      <param name="GainAuto" type="string" value="on" />
      <param name="frame_id" type="string" value="camera_link" />
    </node>

</launch>

