<launch>
  <!--arg name="navigation_map" default="$(find iai_maps)/maps/dm_karlsruhe_20190331.yaml" /-->
  <arg name="navigation_map" default="$(find iai_refills_lab)/maps/refills_lab.yaml" />
  <!-- <arg name="navigation_map" default="$(find iai_maps)/maps/refills_integration_week.yaml"/>  -->
  <arg name="with_aggregator" default="False" />
  <arg name="gripper" default="True" />
  <arg name="cameras" default="True" />

  <param name="/use_sim_time" value="false"/>

  <arg name="urdf" default="$(find iai_donbot_description)/robots/iai_donbot.urdf.xacro"/>

  <include file="$(find iai_donbot_description)/launch/upload.launch">
    <arg name="urdf" value="$(arg urdf)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="false"/>
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - base/joint_states
    - arm/joint_states
    - wsg_50_driver/joint_states
    </rosparam>
    <rosparam param="zeros">
    'odom_x_joint': 0.0
    'odom_y_joint': 0.0
    'odom_z_joint': 0.0
    'gripper_base_gripper_left_joint': 0.0
    'gripper_joint': 0.0
    </rosparam>

    <param name="rate" value="120"/>
    <param name="use_gui" value="False"/>
  </node>

  <include file="$(find iai_donbot_bringup)/launch/base.launch" >
    <arg name="standalone" value="false" />
    <arg name="navigation_map" value="$(arg navigation_map)" />
  </include>

  <include file="$(find iai_donbot_bringup)/launch/ur5.launch" >
    <arg name="standalone" value="false" />
  </include>

  
  <group if="$(eval arg('cameras') == True)">
    <include file="$(find iai_donbot_bringup)/launch/cameras.launch"/>
  </group>

  <group if="$(eval arg('gripper') == True)">
    <include file="$(find iai_donbot_bringup)/launch/gripper.launch"/>
  </group>

  <include file="$(find iai_donbot_bringup)/launch/aggregator.launch" if="$(arg with_aggregator)" />

  <include file="$(find iai_donbot_bringup)/launch/diagnostics.launch"/>

  <node name="base_voltage_watchdog" pkg="iai_donbot_bringup" output="screen" type="base_voltage_watchdog.py" />
</launch>
