<launch>

  <arg name="urdf" default="$(find iai_donbot_description)/robots/iai_donbot_with_refills_finger.urdf.xacro"/>

  <include file="$(find iai_donbot_bringup)/launch/donbot.launch">
    <arg name="urdf" value="$(arg urdf)"/>
    <arg name="gripper" value="False"/>
    <arg name="cameras" value="True"/>
  </include>

  <include file="$(find iai_donbot_sim)/launch/refills_finger_hacks.launch"/>

</launch>
